body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(227, 227, 227);
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../images/building.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 130px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 10px;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-with-first-half {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.card {
  background-color: white;
  margin: 30px 0;
}

.card-header.grid {
  grid-gap: 0px;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.card-body {
  padding: 20px;
}

.image-responsive {
  width: 100%;
  display: block;
}

.card-images {
  width: 1fr;
  height: 1fr;
}

.btn {
  display: block;
  background-color: black;
  text-decoration: none;
  color: white;
  font-weight: 400px;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 15px;
  padding: 5px;
}

header h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 1;
  margin: 10px 0;
}

header h2 {
  font-weight: 300;
  font-size: 30px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 3px;
  margin: 0;
}

header a {
  display: inline-block;
  margin-top: 10px;
  font-weight: 700;
  color: black;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background: white;
  padding: 6px 12px;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 50px;
}

section.secondary {
  background-color: rgb(227, 227, 227);
}

.text-center {
  text-align: center;
}

main {
  background-color: white;
  display: inline-block;
  align-items: center;
}

main h2 {
  font-weight: 500px;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 5px;
  color: rgb(101, 97, 97);
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
}

main h3 {
  font-weight: 500px;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
}

main p {
  font-weight: 300px;
  font-size: 13px;
  line-height: 1.5;
  margin: 0;
}

footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../images/city-view.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 30px;
}

footer h3 {
  font-weight: 500px;
  font-size: 15px;
  line-height: 20px;
}

footer p {
  font-weight: 300px;
  font-size: 13px;
  line-height: 20px;
  color: white;
  opacity: 0.7;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
}

footer a {
  color: white;
  opacity: 0.7;
  font-size: 13px;
}

@media (max-width: 576px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 33px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 18px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  section {
    padding: 20px;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16/9;
  }
}
